<!DOCTYPE html>
<html>

<head>
    <title>Clock</title>

    <style type="text/css">
        table[name="blk_permission"],
        table[name="blk_footer"] {
            display: none;
        }
    </style>
    <meta name="googlebot" content="noindex" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body marginheight=0 marginwidth=0 topmargin=0 leftmargin=0
    style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;min-width: 100%;">
    <table name="bmeMainBody" style="background-color: rgba(128, 128, 128, 0.2); color: black;" width="100%"
        cellspacing="0" cellpadding="0" border="0" bgcolor="#ea4c89">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="center">
                    <table name="bmeMainColumnParentTable" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td name="bmeMainColumnParent"
                                    style="border: 0px none transparent; border-radius: 0px; border-collapse: separate; border-spacing: 0px;">
                                    <table name="bmeMainColumn" class=""
                                        style="max-width: 100%; border-radius: 0px; border-collapse: separate; border-spacing: 0px;"
                                        width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>

                                            <tr>
                                                <td class="bmeHolder" name="bmeMainContentParent"
                                                    style="border: 0px none transparent; border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: hidden;"
                                                    width="100%" valign="top" align="center">
                                                    <table name="bmeMainContent"
                                                        style="border-radius: 0px; border-collapse: separate; border-spacing: 0px; border: 0px none transparent;"
                                                        width="100%" cellspacing="0" cellpadding="0" border="0"
                                                        align="center">
                                                        <tbody>

                                                            <tr>
                                                                <td class="blk_container bmeHolder" name="bmeBody"
                                                                    style="color: rgb(56, 56, 56); border: 0px none transparent; background-color: rgba(128, 128, 128, 0.2);"
                                                                    width="100%" valign="top" bgcolor="#ff9000"
                                                                    align="center">

                                                                    <div id="dv_13" class="blk_wrapper">
                                                                        <table class="blk" name="blk_text" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table class="bmeContainerRow"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float:left; background-color:transparent;"
                                                                                                            width="600"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                        style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: rgb(56, 56, 56); text-align: left;"
                                                                                                                        valign="top"
                                                                                                                        align="left">
                                                                                                                        <div
                                                                                                                            style="line-height: 150%; text-align: center;">
                                                                                                                            <span
                                                                                                                                style="font-size: 24px; font-family: Arial, Helvetica, sans-serif; color:black; line-height: 150%;"><strong>Trouble
                                                                                                                                    signing
                                                                                                                                    in?</strong></span>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>

                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div id="dv_14" class="blk_wrapper">
                                                                        <table class="blk" name="blk_text" width="600"
                                                                            cellspacing="0" cellpadding="0" border="0"
                                                                            style="margin: 20px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table class="bmeContainerRow"
                                                                                            width="100%" cellspacing="0"
                                                                                            cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float:left; background-color:transparent;"
                                                                                                            width="600"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                        style="padding-top: 10px; padding-bottom:10px; padding-left:20px; padding-right:20px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; color: #383838; text-align: left;"
                                                                                                                        valign="top"
                                                                                                                        align="left">
                                                                                                                        <div
                                                                                                                            style="line-height: 150%; text-align: center;">
                                                                                                                            <span
                                                                                                                                style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: black; line-height: 150%;">Resetting
                                                                                                                                your
                                                                                                                                password
                                                                                                                                is
                                                                                                                                easy.
                                                                                                                                Just
                                                                                                                                enter
                                                                                                                                the
                                                                                                                                below
                                                                                                                                code
                                                                                                                                and
                                                                                                                                follow
                                                                                                                                the
                                                                                                                                instructions.
                                                                                                                                We'll
                                                                                                                                have
                                                                                                                                you
                                                                                                                                up
                                                                                                                                and
                                                                                                                                running
                                                                                                                                in
                                                                                                                                no
                                                                                                                                time.</span>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float:left; background-color:transparent;"
                                                                                                            width="600"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                        style="padding-top: 10px; padding-bottom:10px; padding-left:20px; padding-right:20px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; color: #383838; text-align: left;"
                                                                                                                        valign="top"
                                                                                                                        align="left">
                                                                                                                        <div
                                                                                                                            style="line-height: 150%; text-align: center;">
                                                                                                                            <span
                                                                                                                                style="font-size: 20px; font-family: Arial, Helvetica, sans-serif; color: black; line-height: 150%;">One
                                                                                                                                time
                                                                                                                                password
                                                                                                                                (OTP)
                                                                                                                                for
                                                                                                                                reset
                                                                                                                                password.</span>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <tr>
                                                                                                    <td class="tdPart"
                                                                                                        valign="top"
                                                                                                        align="center">
                                                                                                        <table
                                                                                                            name="tblText"
                                                                                                            style="float:left; background-color:transparent;"
                                                                                                            width="600"
                                                                                                            cellspacing="0"
                                                                                                            cellpadding="0"
                                                                                                            border="0"
                                                                                                            align="left">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td name="tblCell"
                                                                                                                        style="padding-top: 10px; padding-bottom:10px; padding-left:20px; padding-right:20px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; color: #383838; text-align: left;"
                                                                                                                        valign="top"
                                                                                                                        align="left">
                                                                                                                        <div
                                                                                                                            style="line-height: 150%; text-align: center;">
                                                                                                                            <span
                                                                                                                                style="font-size: 25px;font-family: Arial,Helvetica,sans-serif;color: black;line-height: 150%;background: white;padding: 10px 20px;border-radius: 5px;">{{OTP}}</span>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>


                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>



                                                                    <div style="line-height: 150%; text-align: center;">
                                                                        <span
                                                                            style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: black; line-height: 150%;">Note:
                                                                            This OTP will expire
                                                                            after 5 Minutes.</span>
                                                                    </div>
                                                                </td>
                                                            </tr>



                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
<img src='http://benchmarkemail.benchurl.com/c/o?e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&relid='
    alt='' border=0 style="display:none;" height=1 width=1>